@font-face {
    font-family: 'BreakingBad';
    src: url(../Breaking\ Bad.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --fuente-breaking-bad: 'BreakingBad', serif;
    --fuente-helvetica: 'Helvetica', serif;
    --texto-grande: 40px;
    --texto-peque: 10px;
}


/* Index */

.fondo-imagen{
    background-image: url("../IMG/fondo.jpg");
    background-repeat: repeat;
    background-size: cover;
}

#poster{
    display: block;
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-radius: 22px;
    margin: auto;
}

#logo{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

#letra{
    font-family: var(--fuente-breaking-bad);
    font-size: var(--texto-grande);
    color: white;
    text-align: center;
}

/* Formulario */
h1{
    font-family: var(--fuente-helvetica);
    font-size: var(--texto-grande);
    text-align: center;
    color: white;
}

.formulario{
    background-color: rgba(0, 0, 0, 0.455);
    font-family: var(--fuente-helvetica);
    font-size: var(--texto-peque);
    width: max-content;
    padding: 1rem;
    margin: auto;
    color: white;
}
.formulario fieldset{
    width: max-content;
    margin:auto;
    background-color: rgb(183, 103, 183);
}

.peque{
    font-size: var(--texto-peque);
    font-family: var(--fuente-helvetica);
}

.botones{
    display: block;
    margin: auto;
    text-align: center;
}





